/* footer.module.css */

  .footer {
    text-align: left;
  }

  .footer p {
    font-size: 0.85rem;
    color: #4b5563;
    line-height: 2rem;
  }

  .footer span {
    font-size: 0.85rem;
    color: #4b5563;
  }